{% extends 'catalog/base.html' %}
{% load base_tags feedback_tags custom_attachment_tags attachment_tags %}


{% block content_title %}
    {{ object.long_title|default:object.title }} <div class="title-page__info">({{ object.get_vendor_code }})</div>
{% endblock %}

{% block content %}
    {% with product_info=product.get_product_info product_images=product.get_product_images %}
        <section class="item__block">
            <div>
                {% get_images for object as images %}
                {% if images %}
                    {% with images=images %}
                        <div class="product__left">
                            <div class="product__gallery {% if full_page %}product__gallery--check{% endif %}">
                                <div class="product__thumb product--thumb swiper">
                                    <div class="swiper-wrapper">
                                        {% for image in images %}
                                            <div class="product__thumb-item swiper-slide">
                                                <a class="product__slider-img">
                                                    <img src="{{ image.productthumb.url }}" title="{{ image.title|default:object.title }}"  alt="{{ image.title|default:object.title }}">
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="product__slider product--slider swiper mfp-gallery">
                                    <div class="swiper-wrapper">
                                        {% for image in images %}
                                            <div class="product__slider-item swiper-slide">
                                                <a class="product__slider-img" href="{{ image.watermarkpicture.url }}">
                                                    <img src="{{ image.productslider.url }}" title="{{ image.title|default:object.title }}"  alt="{{ image.title|default:object.title }}" {% if forloop.first %}itemprop="image"{% endif %}>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% endif %}
            </div>
            <div>
                от {{ product.price|price_format }} руб.{% if product.square_price %}/м<sup>2</sup>{% endif %}
            </div>
            <div>
                Цена указана за базовую комплектацию и габариты
            </div>

            <div>
                {% if product_info.finishing %}
                    {% for finish_group, group_data in product_info.finishing.items %}
                        {{ finish_group.title }}: <a href="#finish_modal_{{ group_data.chosen_param.id}}">{{ group_data.chosen_param.value }}</a>
                    {% endfor %}
                {% endif %}

                <div>
                    Характеристики: <a href="">Смотреть все</a>
                </div>

                <div>
                    <a class="modal-open" data-href="#rackman-modal">
                        Вызвать замерщика для точного расчета
                    </a>
                    <a class="modal-open" data-href="#order-modal">
                        Заказать
                    </a>
                </div>
            </div>
        </section>

        {% if product_info.parameters %}
            <section class="section-default" id="section-specifications">
                <div class="container">
                    <div class="h2 title--nomargintop">
                        Характеристики:
                    </div>

                    <div class="specifications">
                        {% for parameter in product_info.parameters %}
                            <div class="specifications__item">
                                <div class="specifications__item-title">
                                    {{ parameter.parameter_group.title }}:
                                </div>

                                <a class="specifications__item-info {% if parameter.images %}parameter-btn-js modal-open{% endif %}" {% if parameter.images %}data-href="#parameter-modal_{{parameter.id}}"{% endif %} cursor-class="link-hover">
                                    {{ parameter.value }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}

        {% for finish_group, group_data in product_info.finishing.items %}
            <div id="finish_modal_{{ group_data.chosen_param.id }}">
                {{ group_data.chosen_param.value }}

                Выбирайте вариант из списка наиболее популярных в нашем каталоге

                {% for image in group_data.chosen_images %}
                    <img src="{{ image.image.url }}" alt="{{ image.title }}">
                    {{ image.title }}
                {% endfor %}
            </div>
        {% endfor %}

        {% for parameter in product_info.parameters %}
            <div id="parameter_modal_{{ parameter.id }}">
                {{ parameter.value }}

                Выбирайте вариант из списка наиболее популярных в нашем каталоге

                {% for image in parameter.images %}
                    <img src="{{ image.image.url }}" alt="{{ image.title }}">
                    {{ image.title }}
                {% endfor %}
            </div>
        {% endfor %}
    {% endwith %}

{% endblock %}