{% extends 'catalog/base.html' %}
{% load base_tags custom_catalog_tags %}

{% block content %}
    {% with products=object.get_sorted_products %}
        <section class="section-default section-default--top">
            <div class="container">
                <div class="default-page">
                    <div class="default-page__content">
                        <div class="catalog content-anim content-anim--opacity">
                            <div class="catalog__panel">
                                <div class="catalog__panel-sticky">
                                    <div class="catalog__panel-content">
                                        {# include 'catalog/parts/filter_sort.html' #}
                                    </div>
                                </div>
                            </div>

                            <div class="catalog__grid product-list-js ajax-update-popup ajax-update-reviews">
                                {% include 'catalog/parts/product_list.html' with paginate_by=24 %}
                            </div>
                        </div>

                        {% if object.main_content %}
                            <section class="section-default section-default--bottom content-anim content-anim--bottom">
                                <div class="section-default__bg">
                                    <div class="placeholder">
                                        {{ object.main_content|safe }}
                                    </div>
                                </div>
                            </section>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endwith %}
{% endblock %}

