{% extends 'catalog/base.html' %}
{% load base_tags custom_catalog_tags %}

{% block content_title %}
    {{ object.long_title|default:object.title }} <span class="title__info">(<span class="products_count">{{ object.get_products_count }}</span>)</span>
{% endblock %}

{% block content %}
    {% with products=object.get_sorted_products %}
        <section class="section-default section-default--top">
            <div class="catalog">
                <div class="catalog__panel">
                    <div class="catalog__panel-sticky">
                        <div class="catalog__panel-content">
                            {% include 'catalog/parts/filter_sort.html' %}
                        </div>
                    </div>
                </div>

                <div class="catalog__grid product-list-js ajax-update-popup">
                    {% include 'catalog/parts/product_list.html' with paginate_by=24 %}
                </div>
            </div>
        </section>

        {% if object.main_content %}
            <section class="section-default section-default--bottom">
                <div class="placeholder">
                    {{ object.main_content|safe }}
                </div>
            </section>
        {% endif %}
    {% endwith %}
{% endblock %}
