{% extends 'base.html' %}
{% load base_tags service_tags seo_tags %}

{% block seo %}
    {% seo object title_default='Ошибка сервера' %}
{% endblock %}

{% block content_title %}Ошибка сервера{% endblock %}

{% block content %}

    <section class="section-default section-default--top">
        <div class="container">
            <div class="error-page">
                <div class="placeholder">
                    Внутренняя ошибка сервера.
                    Перейдите на <a href="/">главную страницу</a> или воспользуйтесь картой сайта ниже.
                </div>
            </div>

            {% show_block_sitemap %}
        </div>
    </section>

{% endblock %}
