*, :after, :before
	box-sizing: border-box
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0)

html
	display: flex
	flex-direction: column
	min-height: 100%

body
	font-family: '_NotoSansTC', sans-serif
	font-weight: 400
	line-height: 1.5
	font-size: 14px
	overflow-x: hidden
	display: flex
	flex-direction: column
	flex-grow: 1
	@media screen and (max-width: $xs-max)
		min-width: 360px
	&.fix-anim *
		transition: none

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
	font-weight: 600

button
	font-family: inherit
	padding: 0px
	border: none
	background-color: transparent
	box-shadow: none

a
	text-decoration: none
	outline: none
	&:focus
		outline: none

img
	max-width: 100%
	height: auto
	pointer-events: none

sup
	vertical-align: super
	font-size: smaller

.container
	max-width: 1280px
	width: 100%
	margin: 0 auto
	padding: 0 15px
	position: relative
	&--big
		max-width: 1480px

.section-default
	padding: 80px 0
	@media screen and (max-width: $sm-max)
		padding: 60px 0
	@media screen and (max-width: $xs-max)
		padding: 48px 0
	&--top
		padding-top: 0px!important

	&--bottom
		padding-bottom: 0px!important

	&-margin
		margin: 80px 0
		@media screen and (max-width: $sm-max)
			margin: 60px 0
		@media screen and (max-width: $xs-max)
			margin: 48px 0
		&--top
			margin-top: 0px!important

		&--bottom
			margin-bottom: 0px!important

.section
	&-header
		width: 100%
		margin-bottom: 32px
		display: flex
		align-items: center
		justify-content: space-between
		position: relative
		&__title
			font-size: 36px
			line-height: 44px
			color: #333
			font-weight: 600
			text-transform: uppercase
			position: relative
			span
				font-size: 24px
				line-height: 32px
				color: #929292
				text-transform: initial
			&:after
				content: ''
				height: 3px
				width: 40%
				max-width: 200px
				background-color: #FBCC09
				display: block
				margin-top: 16px
		&__link
			font-size: 14px
			line-height: 20px
			color: #333
			font-weight: 600
			white-space: nowrap
			margin-left: 20px
			&:hover
				text-decoration: underline

.section-background
	background-size: cover
	background-position: center
	background-repeat: no-repeat

.section-relative
	position: relative

.section-overflow
	overflow: hidden

.page
	overflow: clip
	overflow-y: clip
	overflow-x: clip
	padding-top: calc(60px + 90px + 46px)
	@media screen and (max-width: $xs-max)
		overflow: hidden

.noscroll
	overflow: hidden

.modal-open
	cursor: pointer