.footer
	width: 100%
	display: flex
	flex-direction: column
	background-color: #333333
	margin-top: auto
	padding: 60px 0
	overflow: hidden
	@media screen and (max-width: $xs-max)
		padding: 40px 0
	&__grid
		grid-gap: 40px
		display: grid
		grid-template-columns: repeat(12, 1fr)
		@media screen and (max-width: $md-max)
			grid-gap: 32px
		@media screen and (max-width: $xxs-max)
			grid-gap: 32px 0
		&-item
			width: 100%
			grid-column: 3 span
			@media screen and (max-width: $sm-max)
				grid-column: 6 span
			@media screen and (max-width: $xxs-max)
				grid-column: 12 span
	&__menu
		width: 100%
		display: flex
		flex-direction: column
		&-title
			font-weight: 600
			font-size: 16px
			line-height: 22px
			color: #fff
			margin-bottom: 10px
	&__submenu
		width: 100%
		display: flex
		flex-direction: column
		&-item + &-item
			margin-top: 8px
		&-link
			font-size: 14px
			line-height: 20px
			color: #fff
			&:hover
				text-decoration: underline
	&__content
		width: 100%
		display: flex
		flex-direction: column
		align-items: flex-end
		text-align: right
		@media screen and (max-width: $sm-max)
			text-align: left
			align-items: flex-start
		&-title
			font-weight: 600
			font-size: 16px
			line-height: 22px
			color: #fff
	&__address
		font-size: 14px
		line-height: 20px
		color: #fff
		margin-top: 20px
	&__phone
		font-size: 20px
		line-height: 24px
		color: #fff
		text-decoration: underline
		font-weight: 500
		margin-top: 20px
		&:hover
			text-decoration: none
	&__btn
		margin-top: 20px
	&__social
		margin-top: 20px
	&__bottom
		width: 100%
		margin-top: 80px
		text-align: center
		@media screen and (max-width: $sm-max)
			margin-top: 60px
		@media screen and (max-width: $xs-max)
			margin-top: 40px
	&__links
		width: calc(100% + 16px)
		flex-wrap: wrap
		margin-right: -16px
		margin-bottom: -8px
		a
			margin-right: 16px
			margin-bottom: 8px
			color: #fff
			font-size: 14px
			line-height: 20px
			text-decoration: underline
			display: inline-block
			&:hover
				text-decoration: none
	&__copy
		width: 100%
		max-width: 800px
		margin: 0 auto
		margin-top: 20px
		font-size: 14px
		line-height: 20px
		color: rgba(255, 255, 255, 0.6)