{% load custom_attachment_tags %}
{% if images %}
    {% get_custom_images_groups images as groups %}
    <section class="section-default section-shadow">
        <div class="container">
            <div class="section-default__header">
                <div class="section-default__title">
                    Наши работы <span>последние фото с объектов</span>
                </div>

                {% if show_link %}
                    <a class="section-default__btn" href="{{ groups.0.images.all.0.page }}">
                        В галерею →
                    </a>
                {% endif %}
            </div>

            <form class="categories gallery-form scroll-custom-x-hidden--xs" action="{% url 'filter_images_gallery' page_ids=gallery_ids %}" novalidate>
                <div class="categories__list">
                    <label class="categories__item">
                        <input type="radio" name="group" value="" checked>
                        <span class="categories__item-btn">
                            Все
                        </span>
                    </label>

                    {% for group in groups %}
                        <label class="categories__item">
                            <input type="radio" name="group" value="{{ group.id }}">
                            <span class="categories__item-btn">
                                {{ group.title }}
                            </span>
                        </label>
                    {% endfor %}
                </div>
            </form>
        </div>

        <div class="gallery gallery--padding">
            <div class="gallery__column gallery__column--hidden gallery__column--more images-list ajax-update-popup" data-url="{% url 'filter_images_gallery' page_ids=gallery_ids %}">
                <div class="gallery__column-sizer"></div>
                {% include 'pages/parts/grouped_images_list.html' with gallery=current_page %}
            </div>
        </div>
    </section>
{% endif %}