{% if root %}
    {% with products_new=root.0.get_products_new categories_new=root.0.get_products_new_categories %}
        {% if products_new %}
            <section class="section-default">
                <div class="container">
                    <div class="section-header">
                        <div class="section-header__group">
                            <div class="section-header__title">
                                Выберите модель двери
                            </div>

                            {% include 'catalog/parts/filter_fp.html' %}
                        </div>

                        <a class="section-header__link" href="{% url 'catalog-root' %}">
                            Смотреть все →
                        </a>
                    </div>

                    {% include 'catalog/parts/product_slider.html' with product_list=products_new ajax_update=True %}
                </div>
            </section>
        {% endif %}
    {% endwith %}
{% endif %}