@font-face
	font-family: '_NotoSansTC'
	src: url('/static/fonts/NotoSansTC-Regular-Alphabetic.woff2') format('woff2')
	font-weight: 400
	font-style: normal
	font-display: swap

@font-face
	font-family: '_NotoSansTC'
	src: url('/static/fonts/NotoSansTC-Medium-Alphabetic.woff2') format('woff2')
	font-weight: 500
	font-style: normal
	font-display: swap

@font-face
	font-family: '_NotoSansTC'
	src: url('/static/fonts/NotoSansTC-Bold-Alphabetic.woff2') format('woff2')
	font-weight: 600
	font-style: normal
	font-display: swap

@font-face
	font-family: '_NotoSansTC'
	src: url('/static/fonts/NotoSansTC-Black-Alphabetic.woff2') format('woff2')
	font-weight: 900
	font-style: normal
	font-display: swap