.product
	display: flex
	@media screen and (max-width: $xs-max)
		flex-direction: column
	&__left
		width: calc(55% - 40px)
		margin-right: 40px
		@media screen and (max-width: $sm-max)
			width: calc(55% - 10px)
			margin-right: 10px
		@media screen and (max-width: $xs-max)
			width: 100%
			margin: 0px

	&__gallery
		width: 100%
		display: flex
		position: sticky
		top: calc(60px + 90px + 24px)
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05)
		@media screen and (max-width: $md-max)
			top: calc(60px + 90px + 16px)
		@media screen and (max-width: $xs-max)
			margin: auto
			width: max-content
			max-width: 100%
			top: auto
			position: relative

	&__slider
		min-height: 330px
		width: 100%
		position: relative
		@media screen and (max-width: $xs-max)
			min-height: 260px
		&-item
			height: 330px
			width: 100%
			background-color: #fff
			margin-right: 20px
			@media screen and (max-width: $xs-max)
				height: 260px
				margin-right: 16px

		&-img
			width: 100%
			height: 100%
			display: flex
			justify-content: center
			cursor: pointer
			img
				height: 100%
				width: auto
				max-width: 100%
				max-height: 100%
				object-fit: contain

	&__thumb
		margin-right: 24px
		height: 100%
		width: 60px
		min-height: 330px
		max-height: 330px
		min-width: 60px
		@media screen and (max-width: $xs-max)
			min-height: 260px
			max-height: 260px
			margin-right: 20px
		&-item
			height: 60px
			width: 60px
			min-width: 60px
			background-color: #fff
			margin-bottom: 20px
			border: 1px solid transparent
			transition: border 0.5s ease-in-out, opacity 0.5s ease-in-out
			@media screen and (max-width: $xs-max)
				margin-bottom: 16px
			&:last-child
				margin-bottom: 0px
			&.swiper-slide-thumb-active
				border-color: rgba(3, 3, 3, 1)
				opacity: 1
		.swiper-wrapper
			flex-direction: column
			align-items: flex-start

	&__right
		width: 45%
		@media screen and (max-width: $sm-max)
			width: calc(45% - 10px)
			margin-left: 10px
		@media screen and (max-width: $xs-max)
			width: 100%
			margin-left: 0px
			margin-top: 32px

	&__content
		display: flex
		flex-wrap: wrap
		align-items: center
		width: 100%
		margin-right: -24px
		margin-bottom: -12px
		@media screen and (max-width: $sm-max)
			margin-right: -12px
		&-item
			margin-right: 24px
			margin-bottom: 12px
			@media screen and (max-width: $sm-max)
				margin-right: 12px

	&__price
		padding: 10px 20px
		background-color: #F6F6F6
		color: #1D1A1A
		font-size: 16px
		line-height: 22px
		span
			font-size: 18px
			line-height: 24px
			font-weight: 600

	&__info
		font-size: 12px
		line-height: 16px
		color: #333
		max-width: 162px

	&__list
		width: 100%
		margin-top: 40px
		display: flex
		flex-direction: column
		@media screen and (max-width: $sm-max)
			margin-top: 32px
		&-item + &-item
			margin-top: 20px
			@media screen and (max-width: $sm-max)
				margin-top: 12px
		&-item
			font-size: 16px
			line-height: 22px
			color: #999999
			@media screen and (max-width: $sm-max)
				font-size: 15px
				line-height: 21px
			@media screen and (max-width: $xs-max)
				font-size: 14px
				line-height: 20px
			a
				color: #333
				border-bottom: 1px dashed #333
				transition: border 0.5s ease-in-out
				&:hover
					border-color: transparent

	&__buttons
		width: 100%
		margin-top: 40px
		display: flex
		flex-direction: column
		@media screen and (max-width: $sm-max)
			margin-top: 32px
		.btn
			width: 100%
		.btn + .btn
			margin-top: 10px