{% extends 'pages/base.html' %}
{% load custom_pages_tags pages_tags  base_tags %}


{% block sidebar %}{% endblock %}


{% block content %}
    {% placeholder main_content with TinyMCE label 'Контент страницы' as main_content %}
    {% if main_content %}
        <section class="section-default section-default--top">
            <div class="container">
                <div class="placeholder">
                    {{ main_content|safe }}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
