{% extends 'pages/base.html' %}
{% load attachment_tags custom_attachment_tags feedback_tags custom_catalog_tags custom_pages_tags pages_tags base_tags %}

{% block breadcrumbs_section %}{% endblock %}
{% block title_section %}{% endblock %}

{% block content %}
    {% if current_page.get_children_for_frontend %}
        <section class="intro">
            <div class="container">
                <div class="intro__slider intro--slider swiper">
                    <div class="swiper-wrapper">
                        {% for slide in current_page.get_children_for_frontend %}
                            {% get_images for slide as images %}
                            <div class="intro__item swiper-slide" {% if images %}style="background-image: url('{{ images.0.intro.url }}');"{% endif %}>
                                <div class="intro__content">
                                    <div class="intro__title">
                                        {{ slide.title }}
                                    </div>

                                    {% get_content slide 'text' as text %}
                                    {% if text %}
                                        <div class="intro__text">
                                            {{ text|safe }}
                                        </div>
                                    {% endif %}

                                    <div class="intro__buttons">
                                        <a class="btn btn--white" href="{% url 'catalog-root' %}">
                                            Смотреть предложения
                                        </a>
                                        <a class="btn btn--yellow modal-open" data-href="#">
                                            Запросить расчет стоимости
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {% if current_page.get_children_for_frontend.count > 1 %}
                            <div class="intro__pagination swiper-pagination"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% get_items_by_model_name 'advantage' type=0 as advantages %}
    {% if advantages.exists %}
        <section class="section-default section-default--min section-advantagesone section-relative section-overflow">
            <div class="container">
                {% include 'parts/advantages.html' %}
            </div>
        </section>
    {% endif %}

    {% get_catalog_items type=0 role='обложка' as catalog_items %}
    {% if catalog_items %}
        <section>
            <div>
                <div>
                    Металлические двери на заказ
                    <a href="{% url 'catalog-root' %}">
                        Смотреть все
                    </a>
                </div>
                <div>
                    {% for item in catalog_items %}
                        {% if item.catalog_item.images %}
                            <img src="{{ item.catalog_item.images.0.image.url }}" alt="">
                        {% endif %}
                        {{ item.catalog_item.title }}
                        {{ item.catalog_item.get_products_count }}
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    {% include 'parts/popular_products_block.html' %}

    <section>
        Получить консультацию
        Подскажем все нюансы выбора для экономии вашего времени и средств.
        {% show_feedback 'consult' %}
    </section>

    {% placeholder gallery_ids label 'Блок галереи' with ImageGroupMultiSelect as gallery_ids %}
    {% if gallery_ids %}
        {% get_images_for_groups_list gallery_ids as images %}
        {% include 'parts/gallery_categories.html' with show_link=True %}
    {% endif %}

    <section>
        <div>
            Также производим
            Металлоконструкции для вашего объекта и усадьбы
        </div>

        
    </section>
{% endblock %}
