{% extends 'pages/base.html' %}
{% load attachment_tags custom_attachment_tags feedback_tags custom_catalog_tags custom_pages_tags pages_tags base_tags %}

{% block breadcrumbs_section %}{% endblock %}
{% block title_section %}{% endblock %}

{% block content %}
    {% if current_page.get_children_for_frontend %}
        <section class="intro">
            <div class="container">
                <div class="intro__slider">
                    <div class="intro--slider swiper {% if current_page.get_children_for_frontend.count > 1 %}intro__slider--padding{% endif %}">
                        <div class="swiper-wrapper">
                            {% for slide in current_page.get_children_for_frontend %}
                                {% get_images for slide as images %}
                                <div class="intro__item swiper-slide" {% if images %}style="background-image: url('{{ images.0.intro.url }}');"{% endif %}>
                                    <div class="intro__content">
                                        <div class="intro__title">
                                            {{ slide.title }}
                                        </div>

                                        {% get_content slide 'text' as text %}
                                        {% if text %}
                                            <div class="intro__text">
                                                {{ text|safe }}
                                            </div>
                                        {% endif %}

                                        <div class="intro__buttons">
                                            <a class="btn btn--white" href="{% url 'catalog-root' %}">
                                                Смотреть предложения
                                            </a>
                                            <a class="btn btn--yellow modal-open" data-href="#">
                                                Запросить расчет стоимости
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            {% if current_page.get_children_for_frontend.count > 1 %}
                                <div class="intro__pagination swiper-pagination"></div>
                            {% endif %}
                        </div>
                    </div>

                    {% if current_page.get_children_for_frontend.count > 1 %}
                        <div class="slider__nav-arrow slider__nav-arrow--posleft slider__nav-prev">
                            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.96973 14.9697L0.969727 7.96973L8.96973 0.969726" stroke="#333333" stroke-width="1.93939" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <div class="slider__nav-arrow slider__nav-arrow--posright slider__nav-next">
                            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.969727 0.969727L8.96973 7.96973L0.969727 14.9697" stroke="#333333" stroke-width="1.93939" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endif %}

    {% get_items_by_model_name 'advantage' type=0 as advantages %}
    {% if advantages.exists %}
        <section class="section-default section-default--bottom">
            <div class="container">
                {% include 'parts/advantages.html' %}
            </div>
        </section>
    {% endif %}

    {% get_catalog_items type=0 role='обложка' as catalog_items %}
    {% if catalog_items %}
        <section>
            <div>
                <div>
                    Металлические двери на заказ
                    <a href="{% url 'catalog-root' %}">
                        Смотреть все
                    </a>
                </div>
                <div>
                    {% for item in catalog_items %}
                        {% if item.catalog_item.images %}
                            <img src="{{ item.catalog_item.images.0.image.url }}" alt="">
                        {% endif %}
                        {{ item.catalog_item.title }}
                        {{ item.catalog_item.get_products_count }}
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    {% include 'parts/popular_products_block.html' %}

    <section>
        Получить консультацию
        Подскажем все нюансы выбора для экономии вашего времени и средств.
        {% show_feedback 'consult' %}
    </section>

    {% placeholder gallery_ids label 'Блок галереи' with ImageGroupMultiSelect as gallery_ids %}
    {% if gallery_ids %}
        {% get_images_for_groups_list gallery_ids as images %}
        {% include 'parts/gallery_categories.html' with show_link=True %}
    {% endif %}

    {% get_catalog_items type=0 role='обложка' as catalog_items %}
    {% if catalog_items %}
        <section>
            <div>
                Также производим
                Металлоконструкции для вашего объекта и усадьбы
            </div>

            <div>
                {% for item in catalog_items %}
                    {% if item.catalog_item.images %}
                        <img src="{{ item.catalog_item.images.0.image.url }}" alt="">
                    {% endif %}
                    {{ item.catalog_item.title }}
                {% endfor %}
            </div>
        </section>
    {% endif %}

    {% placeholder about_us_title label 'Заголовок блока О нас' as about_us_title %}
    {% placeholder about_us_text label 'Текст блока О нас' with TinyMCE as about_us_text %}
    {% if about_us_title or about_us_text %}
        <section class="section-default section-overflow {% if about_us_gallery %}about--certificates{% endif %}">
            <div class="container">
                <div class="about">
                    <div class="about__left">
                        <div class="about__content">

                            {% if about_us_title %}
                                <div class="about__title">
                                    {{ about_us_title|safe }}
                                </div>
                            {% endif %}

                            {% if about_us_text %}
                                <div class="about__text">
                                    {{ about_us_text|safe }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    {% get_images for current_page as images %}
                    {% with images_about_us=images|role:'обложка' %}
                        {% if images_about_us %}
                            <div class="about__right">
                                <div class="about__preview">
                                    <img src="{{ images_about_us.0.display.url }}" alt="{{ images_about_us.0.title|default:'' }}" title="{{ images_about_us.0.title|default:'' }}">
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </section>
    {% endif %}

    {% placeholder work_steps_title label 'Заголовок блока "Как мы работаем"' as work_steps_title %}
    {% placeholder work_steps_text label 'Текст блока "Как мы работаем"' with Textarea as work_steps_text %}

    <section>
        {% if work_steps_title %}
            <div>
                {{ work_steps_title }}
            </div>
        {% endif %}
        {% if work_steps_text %}
            <div>
                {{ work_steps_text }}
            </div>
        {% endif %}
    </section>
{% endblock %}
