{% extends 'pages/base.html' %}
{% load custom_pages_tags pages_tags base_tags custom_attachment_tags %}

{% block content_narrow %}{% endblock %}

{% block content_wide %}
    {% placeholder main_content with TinyMCE label 'Контент страницы' as main_content %}
    {% if main_content %}
        <section class="section-default section-default--top">
            <div class="container">
                <div class="placeholder">
                    {{ main_content|safe }}
                </div>
            </div>
        </section>
    {% endif %}

    {% get_items_by_model_name 'customattachmentimage' page=current_page as images %}
    {% placeholder hide_buttons label 'Скрыть кнопки "Узнать цену"' with Checkbox as hide_buttons %}
    {% if images %}
        {% get_custom_images_groups images as groups %}
        <section class="section-default section-default--top">
            <div class="load">
                <div class="load__header container">
                    <form class="load__form categories categories--hidden gallery-form" action="{% url 'filter_images' page_id=current_page.id|stringformat:'d' %}" novalidate>
                        <label class="categories__item">
                            <input type="radio" name="group" value="" checked>
                            <span class="categories__item-btn">
                                Все
                            </span>
                        </label>

                        {% for group in groups %}
                            <label class="categories__item">
                                <input type="radio" name="group" value="{{ group.id }}">
                                <span class="categories__item-btn">
                                    {{ group.title }}
                                </span>
                            </label>
                        {% endfor %}

                        <a class="gallery__tabs-more categories__more">
                            <span>
                                Показать еще
                            </span>
                        </a>
                    </form>
                </div>

                <div class="load__body">
                    <div class="gallery gallery--padding">
                        <div class="gallery__column gallery__column--hidden gallery__column--more images-list ajax-update-popup" data-url="{% url 'filter_images' page_id=current_page.id %}">
                            <div class="gallery__column-sizer"></div>
                            {% include 'pages/parts/grouped_images_list.html' with gallery=current_page %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% placeholder bottom_content with TinyMCE label 'Контент внизу страницы' as bottom_content %}
    {% if bottom_content %}
        <section class="section-default section-default--top">
            <div class="container">
                <div class="placeholder">
                    {{ bottom_content|safe }}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
