{% load custom_catalog_tags %}

<form class="categories filter-form-short scroll-custom-x-hidden--xs" action="{% url 'filter_products_fp' %}" novalidate>
    {% if categories_new %}
        <div class="categories__list">
            <label class="categories__item">
                <input type="radio" name="category" value="" checked>
                <span class="categories__item-btn">
                    Все
                </span>
            </label>

            {% for category in categories_new %}
                <label class="categories__item">
                    <input type="radio" name="category" value="{{ category.id }}">
                    <span class="categories__item-btn">
                        {{ category.title }}
                    </span>
                </label>
            {% endfor %}
        </div>
    {% endif %}
</form>
