<form class="filter__form filter-form" action="{% url 'filter_products' %}" novalidate>
    <input type="hidden" name="ct" value="{{ object.tree.get.content_type.id }}">
    <input type="hidden" name="obj" value="{{ object.id }}">

    <div class="filter">
        <div class="filter__left">
            <div class="filter__select select select--min">
                <select name="dir">
                    <option value="new" {% if object.sort == 'new' or not object.sort %}selected{% endif %}>Новинки сверху</option>
                    <option value="asc" {% if object.sort == 'asc' %}selected{% endif %}>Дешевле сверху</option>
                    <option value="desc" {% if object.sort == 'desc' %}selected{% endif %}>Дороже сверху</option>
                    <option value="popular" {% if object.sort == 'popular' %}selected{% endif %}>Популярные</option>
                </select>
            </div>
        </div>

        <div class="filter__right">
            <div class="filter__price">
                <button class="filter__price-btn filter-open" type="button">
                    Фильтр
                </button>

                <div class="filter__price-content">
                     {% if not object.hide_filter_category and object.get_categories_filter %}
                        <div class="filter__select select select--min">
                            <select name="category">
                                <option value="" selected>Все товары</option>
                                {% for choice in object.get_categories_filter %}
                                    <option value="{{ choice.tree.get.content_type.model }}_{{ choice.id }}">
                                        {{ choice.title }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}

                    <div class="filter__price-container">
                        <div class="filter__price-list">
                            <div class="filter__price-wrapper">
                                <div class="filter__price-info">
                                    от
                                </div>
                                <input class="filter__price-input filter__price-input--min" id="min_price" name="min_price" type="number" placeholder="от {{ object.get_min_price|default:0 }}" step="500" min="{{ object.get_min_price|default:0 }}" max="{{ object.get_max_price|default:0 }}" value="{{ object.get_min_price|default:0 }}">
                            </div>

                            <div class="filter__price-wrapper">
                                <div class="filter__price-info">
                                    до
                                </div>
                                <input class="filter__price-input filter__price-input--max" id="max_price" name="max_price" type="number" step="500" placeholder="до {{ object.get_max_price|default:0 }}" min="{{ object.get_min_price|default:0 }}" max="{{ object.get_max_price|default:0 }}" value="{{ object.get_max_price|default:0 }}">
                            </div>
                        </div>

                        <button class="filter__price-btn" type="submit">
                            Найти
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
