{% load attachment_tags custom_attachment_tags pages_tags %}

<div class="modal__header">
    <div class="modal__title">
        {{ parameter.value }}
    </div>
    <div class="modal__subtitle">
        Выбирайте вариант из списка наиболее популярных в нашем каталоге
    </div>
</div>

{% get_images for parameter as images %}
{% if images %}
    <div class="modal__body">
        <div class="finish" data-id="{{ parameter.id }}">
            <div class="finish__grid finish__grid--middle">
                {% for image in images %}
                    <div class="finish__grid-item">
                        <a class="finish-card finish-card--click" data-id="{{ image.id }}">
                            <div class="finish-card__preview">
                                <img src="{{ image.finishcard.url }}" alt="{{ image.title|default:parameter.value }}" title="{{ image.title|default:parameter.value }}">
                            </div>
                            {% if image.title %}
                                <div class="finish-card__title">
                                    {{ image.title }}
                                </div>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
