{% load attachment_tags base_tags custom_catalog_tags %}
<div class="product-card">
    <a class="product-card__body" href="{{ product.get_absolute_url }}">
        {% with images=product.images %}
            {% if images %}
                <div class="product-card__preview">
                    <img src="{{ images.0.productcard.url }}" alt="{{ images.0.title|default:product.title }}" title="{{ images.0.title|default:product.title }}">
                </div>
            {% endif %}
        {% endwith %}

        <div class="product-card__content">
            <div class="product-card__title">
                {{ product.long_title|default:product.title }}
            </div>

            <div class="product-card__article">
                Арт: <span>{{ product.get_vendor_code }}</span>
            </div>

            <div class="product-card__price">
                {% if product.price %}
                    <div class="product-card__price-default">
                        от <span>{{ product.price|price_format }}</span> руб.
                    </div>
                {% else %}
                    <div class="product-card__price-default">
                        Цена по запросу
                    </div>
                {% endif %}
            </div>
        </div>
    </a>

    <div class="product-card__footer">
        <a class="product-card__btn btn btn--grey btn--min" href="{{ product.get_absolute_url }}">
            Подробнее
        </a>

        <button class="product-card__btn btn btn--dark btn--min modal-open" data-href="#order-modal">
            Заказать
        </button>
    </div>
</div>
