input[type=number]
	-moz-appearance: textfield

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
	-webkit-appearance: none
	margin: 0

.input-file
	display: none

.input
	input
		color: #333
		width: 100%
		font-size: 14px
		line-height: 20px
		font-weight: 500
		height: 38px
		padding: 2px 16px
		border: 1px solid #333
		background-color: rgba(255, 255, 255, 0.3)
		transition: border 0.7s ease-in-out, color 0.7s ease-in-out
		font-family: inherit
		box-shadow: none
		border-radius: 0px

		&::-webkit-input-placeholder
			color: #888888

		&:-moz-placeholder
			color: #888888
			opacity: 1

		&::-moz-placeholder
			color: #888888
			opacity: 1

		&:-ms-input-placeholder
			color: #888888

		&::-ms-input-placeholder
			color: #888888

		&::placeholder
			color: #888888

	&--white
		input
			background-color: rgba(255, 255, 255, 0.3)
			border-color: rgba(255, 255, 255, 0)
			color: #fff
			&::-webkit-input-placeholder
				color: rgba(255, 255, 255, 0.8)

			&:-moz-placeholder
				color: rgba(255, 255, 255, 0.8)
				opacity: 1

			&::-moz-placeholder
				color: rgba(255, 255, 255, 0.8)
				opacity: 1

			&:-ms-input-placeholder
				color: rgba(255, 255, 255, 0.8)

			&::-ms-input-placeholder
				color: rgba(255, 255, 255, 0.8)

			&::placeholder
				color: rgba(255, 255, 255, 0.8)

.textarea
	textarea
		color: #333
		width: 100%
		font-size: 14px
		line-height: 20px
		font-weight: 500
		height: 38px
		padding: 8px 16px
		border: 1px solid #333
		background-color: rgba(255, 255, 255, 0.3)
		transition: border 0.7s ease-in-out, color 0.7s ease-in-out
		font-family: inherit
		resize: none
		border-radius: 0px

		&::-webkit-input-placeholder
			color: #888888

		&:-moz-placeholder
			color: #888888
			opacity: 1

		&::-moz-placeholder
			color: #888888
			opacity: 1

		&:-ms-input-placeholder
			color: #888888

		&::-ms-input-placeholder
			color: #888888

		&::placeholder
			color: #888888

	&--white
		textarea
			background-color: rgba(255, 255, 255, 0.3)
			border-color: rgba(255, 255, 255, 0)
			color: #fff
			&::-webkit-input-placeholder
				color: rgba(255, 255, 255, 0.8)

			&:-moz-placeholder
				color: rgba(255, 255, 255, 0.8)
				opacity: 1

			&::-moz-placeholder
				color: rgba(255, 255, 255, 0.8)
				opacity: 1

			&:-ms-input-placeholder
				color: rgba(255, 255, 255, 0.8)

			&::-ms-input-placeholder
				color: rgba(255, 255, 255, 0.8)

			&::placeholder
				color: rgba(255, 255, 255, 0.8)

.textarea--dheight textarea
	height: 80px

.input__label
	width: 100%
	display: flex
	flex-direction: column

	&--center
		align-items: center

	&.error
		input
			&::-webkit-input-placeholder
				color: #FF6B6B
			&:-moz-placeholder
				color: #FF6B6B
			&::-moz-placeholder
				color: #FF6B6B
			&:-ms-input-placeholder
				color: #FF6B6B
			&::-ms-input-placeholder
				color: #FF6B6B
			&::placeholder
				color: #FF6B6B
		textarea
			&::-webkit-input-placeholder
				color: #FF6B6B
			&:-moz-placeholder
				color: #FF6B6B
			&::-moz-placeholder
				color: #FF6B6B
			&:-ms-input-placeholder
				color: #FF6B6B
			&::-ms-input-placeholder
				color: #FF6B6B
			&::placeholder
				color: #FF6B6B
		.input__info
			color: #FF6B6B

.input__info
	font-size: 14px
	color: #000
	margin-bottom: 4px

.input__content
	width: 100%
	display: flex

.select
	select
		color: #333
		font-size: 14px
		line-height: 20px
		font-weight: 400
		height: 38px
		border: none
		border-radius: 0px
		cursor: pointer
		width: 100%
		border: 1px solid #BBBBBB
		background-color: #fff
		padding: 2px 16px
		padding-right: 32px
		font-family: inherit
		box-shadow: none
		-moz-appearance: none
		appearance: none
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		background-image: url('/static/img/select-icon.svg')
		background-repeat: no-repeat
		background-position-x: calc(100% - 16px)
		background-position-y: 50%
		transition: border 0.7s ease-in-out, color 0.7s ease-in-out, opacity 0.7s ease-in-out
		&:disabled
			opacity: 0.4

	&--min
		select
			height: 32px
			padding: 2px 12px
			padding-right: 28px
			background-position-x: calc(100% - 12px)

.default-checkbox
	display: flex
	width: 100%
	&__label
		display: flex
		width: 100%
		cursor: pointer

	&__input
		display: none

	&__content
		display: flex
		align-items: flex-start

	&__fake
		width: 16px
		height: 16px
		min-height: 16px
		min-width: 16px
		display: flex
		align-items: center
		justify-content: center
		border: solid 1px #949494
		margin-right: 8px
		background-color: #fff
		transition: border 0.5s ease-in-out
		svg
			width: 10px
			height: 7px
			object-fit: contain
			height: auto
			opacity: 0
			transition: opacity 0.3s ease-in-out

	.default-checkbox__input:checked + .default-checkbox__content .default-checkbox__fake svg
		opacity: 1

	&__text
		transition: color 0.5s ease-in-out

	&.error
		.default-checkbox__fake
			border-color: #FF6B6B

.toggle
	display: flex
	width: max-content
	&__content
		cursor: pointer
		text-indent: -9999px
		width: 32px
		height: 16px
		background-color: #D8D8D8
		display: block
		border-radius: 16px
		position: relative
		&:after
			content: ''
			position: absolute
			top: 3px
			left: 4px
			width: 10px
			height: 10px
			background-color: #333
			border-radius: 16px
			transition: left 0.3s
	&__input
		height: 0
		width: 0
		visibility: hidden
		&:checked + .toggle__content:after
			left: calc(100% - 4px - 10px)

.scroll-custom-y
	padding-right: 20px
	overflow: hidden
	overflow-y: auto
	scrollbar-color: #D8D8D8 #F8F8F8
	scrollbar-width: thin
	@media screen and (max-width: $xs-max)
		padding-right: 10px
	&::-webkit-scrollbar
		width: 4px
		border-radius: 2px
		&-track
			background-color: #F8F8F8
			border-radius: 2px

		&-thumb
			background-color: #D8D8D8
			border-radius: 2px

@media screen and (max-width: $sm-max)
	.scroll-custom-x-hidden--sm
		overflow: hidden
		overflow-x: auto
		scrollbar-color: transparent transparent
		scrollbar-width: none
		&::-webkit-scrollbar
			display: none

@media screen and (max-width: $xs-max)
	.scroll-custom-x-hidden--xs
		overflow: hidden
		overflow-x: auto
		scrollbar-color: transparent transparent
		scrollbar-width: none
		&::-webkit-scrollbar
			display: none