.social
	display: flex
	&__link
		width: 38px
		height: 38px
		display: flex
		transition: transform 0.2s ease-in-out
		@media screen and (max-width: $md-max)
			width: 32px
			height: 32px
		&:hover
			transform: translateY(-2px)
		svg
			width: 100%
			height: 100%
			object-fit: contain
	&__link + &__link
		margin-left: 12px