{% load feedback_tags %}
<form action="{% url 'ajax_feedback' key=form.get_settings_key %}"
      method="post" id="id_feedback_form_{{ form.get_settings_key }}"
      class="form feedback-form {{ form.get_settings_key }}" novalidate>

    {% csrf_token %}
    {{ form.message_ }}
    {{ form.flag }}

    <div class="form__grid">
        <div class="form__item form__grid-12">
            <label class="input__label {% if form.name.errors %}error{% endif %}">
                <div class="input__content input">
                    {{ form.name }}
                </div>
            </label>
        </div>
        <div class="form__item form__grid-12">
            <label class="input__label {% if form.phone.errors %}error{% endif %}">
                <div class="input__content input">
                    {{ form.phone }}
                </div>
            </label>
        </div>
        <div class="form__item form__grid-12">
            <label class="input__label {% if form.email.errors %}error{% endif %}">
                <div class="input__content input">
                    {{ form.email }}
                </div>
            </label>
        </div>
        <div class="form__item form__grid-12">
            <label class="input__label {% if form.date_call.errors %}error{% endif %}">
                <div class="input__content input">
                    <input type="date" name="metering-date_call" required="" {% if form.date_call.data %}value="{{ form.date_call.data }}"{% endif %} id="id_metering-date_call">
                </div>
            </label>
        </div>
        <div class="form__item form__grid-12">
            <label class="input__label {% if form.time_call.errors %}error{% endif %}">
                <div class="input__content input">
                    <input type="time" name="metering-time_call" {% if form.time_call.data %}value="{{ form.time_call.data }}"{% endif %} placeholder="Время звонка" id="id_metering-time_call">
                </div>
            </label>
        </div>
        <div class="form__item form__grid-12">
            <label class="input__label {% if form.comment.errors %}error{% endif %}">
                <div class="input__content textarea textarea--dheight">
                    {{ form.comment }}
                </div>
            </label>
        </div>
        <div class="form__item form__grid-12">
            <div class="upload" cursor-class="link-hover">
                <div class="upload__content">
                    <label class="upload__load">
                        <input class="input-file" type="file" name="{{ form.get_settings_key }}-file" id="id_{{ form.get_settings_key }}-file" data-accept-imgfile multiple>
                        <div class="upload__btn">
                            <span>
                                {{ form.file.label }}
                            </span>
                        </div>
                    </label>
                </div>
                <div class="upload__error"></div>
                <ul class="upload__list"></ul>
            </div>
        </div>
    </div>

    <div class="form__switcher">
        {% include 'parts/figures_captcha.html' %}
    </div>

    {% if chunks.form_politica.content %}
        <div class="form__privacy" cursor-class="link-hover">
            <div class="default-checkbox {% if form.confirm.errors %}error{% endif %}">
                <label class="default-checkbox__label">
                    <input class="default-checkbox__input" type="checkbox" name="{{ form.get_settings_key }}-confirm" required="" id="id_{{ form.get_settings_key }}-confirm" {% if form.confirm.data %}checked{% endif %}>
                    <div class="default-checkbox__content">
                        <div class="default-checkbox__fake">
                            <svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.707031 5.20709L4.20703 8.70709L12.207 0.707092" stroke="#303030" stroke-width="2"/>
                            </svg>
                        </div>
                        <div class="default-checkbox__text">
                            {{ chunks.form_politica.content }}
                        </div>
                    </div>
                </label>
            </div>
        </div>
    {% endif %}

    <div class="form__bottom">
        <button class="btn btn--dark btn--full" type="submit" cursor-class="link-hover">
            Отправить заявку
        </button>
    </div>
</form>
