.advantages
	width: 100%
	&__slider
		padding-bottom: 10px
	&--slider
		margin-right: -100px
		overflow: visible
	&__item
		width: 350px
		margin-right: 100px
		max-width: 350px
		min-width: 350px
		min-height: 122px
		position: relative
		display: flex
		align-items: flex-end
		padding-left: 48px
		&-icon
			height: 122px
			width: 122px
			display: flex
			position: absolute
			bottom: 0px
			left: 0px
			img
				height: 100%
				width: auto
				object-fit: contain
		&-content
			padding: 16px
			padding-left: 86px
			padding-right: 32px
			box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1)
			border-radius: 20px
			background-color: #fff
			font-size: 14px
			line-height: 20px
			color: #333