.sections
	&__grid
		display: grid
		grid-template-columns: repeat(3, 1fr)
		grid-gap: 24px

		&-item
			display: flex
			width: 100%

			&:nth-child(5n+1)
				grid-column: span 1

			&:nth-child(5n+2)
				grid-column: span 1

			&:nth-child(5n+3)
				grid-column: span 1

			&:nth-child(5n+4)
				grid-column: span 2

			&:nth-child(5n)
				grid-column: span 1